**/build
**/winbuild
**/ninbuild
**/dist/header/*
**/dist/lib/*
**/dist/bin/*
**/oldstream
**/bla.txt
**/.vscode
**/.cproject
**/.project
**/*.out
**/*.o
**/*.Td
**/*.d
**/Debug/
**/*.VC.db
**/.suo
**/*.VC.opendb
**/*.lib
**/*.dll
**/*.pdb
**/*.a
**/*.so
**/server
**/client

